<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{> logout}}

    <a href="/post" class="postbutton">Make a Post</a>

    <div class="topofposts">
      <h2>Posts:</h2>
    </div>
    {{#each posts as |post|}}
      <div class="post">
        <div class="votes">
          <form action="/upvote/{{post._id}}" method="post">
            <button type="submit">&#9650;</button>
          </form>
          <p>{{post.netvotes}}</p>
          <form action="/downvote/{{post._id}}" method="post">
            <button type="submit">&#9660;</button>
          </form>
        </div>

        <div class="mainarea">
          <div class="postheader">
            <h2 class="posttitle">{{post.title}}</h2>
            <a href="/profile/{{posterName}}" class="postusername">Posted by: {{post.posterName}}</a>
          </div>
          <p class="postcontent">{{post.content}}</p>
          </div>
        </div>
    {{/each}}
  </body>
</html>
